langchain-ollama
langchain
langchain-community
langchain-core
langgraph
llama-index
llama-index-core
llama-index-vector-stores-chroma
llama-index-embeddings-ollama
llama-index-llms-ollama
chromadb
streamlit
fastapi
uvicorn
pydantic
PyPDF2
pdfminer.six
python-dotenv
